* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Creepster", system-ui;
    overflow: hidden; 
    height: 100%; 
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.back {
    position: relative;
    left: 30px;
    top: 30px;
    font-size: 20px;
    background: rgba(0, 24, 36, 0.7);
    text-decoration: none;
    color: #DDD;
    border: 1px solid #001824;
    padding: 10px;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header > h1 {
    color: #a51f1f;
    font-size: 4em;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000, 0 0 5px #a51f1f;
}